.footer {
    background-color: var(--background-footer);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__logo {
    margin-bottom: 20px;
}
.contacts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    margin-bottom: 60px; 
}
.contacts__item {
    @include font(400, 14px, 24px, 0.03em);
    font-style: normal;
    display: block;
}
.contacts__address {
    color: #ffffff;
    transition: color var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.contacts__mail,
.contacts__tel {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.footer-social__title,
.form-sign__title {
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.social-list_footer {
    padding-bottom: 0;
}
footer .social-list__icon {
    fill: #ffffff;
}
footer .social-list__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-sign__input {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.form-sign__field {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    &::placeholder {
        @include font(400, 16px, 20px, 0.03em);
        color: rgba(255, 255, 255, 0.6);
    }
}
.form-sign__btn {
    @extend %align;
    padding: 10px;
    width: 200px;
}
.form-sign__icon {
    margin-left: 10px;
}
@media screen and (max-width: 1199px) {
    .footer__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
    .form-sign__field {
        width: 450px;
    } 
}
@media screen and (min-width: 768px) {
    .footer-social {
        margin-bottom: 0;
        margin-right: 74px;
    } 
    .footer__contacts {
        margin-left: 61px;
    }
    .contacts__list {
        margin-bottom: 0;
    } 
    .footer__info {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 60px;
    } 
}
@media screen and (min-width: 1200px) {
    .footer__info {
        margin-bottom: 0;
    } 
    .contacts__list {
        align-items: flex-start;
        gap: 9px; 
        margin-bottom: 0;
        margin-right: 70px; 
    } 
    .footer-social {
        align-items: flex-start;
        margin-bottom: 0;
    }
    .form-sign {
        flex-direction: row;
        align-content: flex-end;
        gap: 12px;
        align-items: flex-end;
    }
    .form-sign__input {
        align-items: flex-start;   
    }
    .form-sign__field {
        width: 358px;
        margin-bottom: 0;
    }
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}




// .contacts__item {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     &:not(:last-child) {
//         margin-bottom: 9px;
//     }
// }

// .form-sign {
//     margin-left: auto;
// }
// .form-sign__input {
//     display: flex;
//     justify-content: center;
// }
// .form-sign__btn {
//     display: flex;
//     justify-content: center;
//     width: 200px;
//     align-items: center;
//     margin-left: 12px;
//     padding: 10px 28px;
// }

// .form-sign__field {
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     background-color: transparent;
//     padding: 15px 16px;
//     color: #FFFFFF;
//     &::placeholder {
//         @include font(400, 16px, 20px, 0.03em);
//         color: rgba(255, 255, 255, 0.6);
//     }
// }
