
@media screen and (max-width: 767px) {
    .menu-nav {
        display: none;
    }
    .header-contacts {
        display: none;
    }
    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
        transition: fill var(--transition-timing-function);
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
    .mobile-menu .mobile-menu__item_current {
        color: var(--accent-color);
    } 
    .page-header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ECECEC;
    }
    .page-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }
    .page-header {
        border-bottom: 1px solid #ECECEC;
        padding-top: 21px;
        padding-bottom: 20px;
    }
    .menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
    }
    .menu-nav a {
        position: relative;
        @include font(500, 14px, 16px, 0.02em);
        color: var(--title-color);
        padding-bottom: 32px;
        transition: color var(--transition-timing-function);
        &:hover, 
        &:focus {
            color: var(--accent-color);
        }
        &.menu-nav__item_current {
            color: var(--accent-color);
        }
        &.menu-nav__item_current::after {
            position: absolute;
            content: "";
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            animation: opacity-animation var(--transition-timing-function);
        }
    }
    .page-navigation {
        display: flex;
        align-items: baseline;
    }
    .page-header__container {
        display: flex;
        justify-content: space-between;
    }
    .header-contacts {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .header-contacts__link {
        display: flex;
        align-items: center;
        gap: 10px;
        @include font(500, 12px, 14px, 0.02em);
        color: var(--text-color);
        transition: color var(--transition-timing-function);
        &:hover,
        &:focus {
            color: var(--accent-color);
        } 
    }
    .mail-icon {
        width: 14px;
        height: 10px;
        fill: var(--text-color);
        transition: fill var(--transition-timing-function);
        .header-contacts__link:hover &, 
        .header-contacts__link:focus & {
            fill:var(--accent-color);
        }
    }
    .smartphone-icon {
        width: 10px;
        height: 14px;
        fill: var(--text-color); 
        transition: fill var(--transition-timing-function);
        .header-contacts__link:hover &, 
        .header-contacts__link:focus & {
           fill:var(--accent-color);
        }
    }
}

@keyframes opacity-animation {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@media screen and (min-width: 1200px) {
    .header-contacts {
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        column-gap: 30px;
    } 
    .header-contacts__link {
        @include font(500, 14px, 16px, 0.02em);   
    } 
    .mail-icon {
        width: 16px;
        height: 12px; 
    }
    .smartphone-icon {
        width: 10px;
        height: 16px; 
    }
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .menu-nav a.menu-nav__item_current::after {
        margin-bottom: 3px;
    }
}





