.logo {
    font-family: 'Raleway', sans-serif;
}
.logo__logo-web {
    color: var(--accent-color);
}
.logo__logo-studio_light-theme { 
    color: var(--logo-studio-dark);
}
.logo__logo-studio_dark-theme {
    color: var(--logo-studio-light);
}
@media screen and (max-width: 1199px) {
    .logo {
        @include font(700, 24px, 28px, 0.03em);
    }
    .page-navigation__logo {
        margin-right: 88px;
    }  
}
@media screen and (min-width: 1200px) {
    .logo {
        @include font(700, 26px, 31px, 0.03em);
    }
    .page-navigation__logo {
        margin-right: 92px;
    }   
}

// .footer__logo {
//     display: block;
//     margin-bottom: 20px;
// }