.btn {
    @include font(700, 16px, 30px, 0.06em);
    color: #ffffff;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
    .btn {
        padding: 10px 32px;
    }  
}