.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #ffffff;
    width: 100%;
    padding: 40px;
}
.modal__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
}
.modal__close-icon {
    fill: #000000;
    transition: fill var(--transition-timing-function);
    .modal__close-btn:hover & {
        fill: var(--accent-color);
    }
}
@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
        height: 609px
    }   
}
@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px
    }   
}


